In [13]:
import pandas as pd
import numpy as np

In [7]:
# 
# cleaning of castle
#

castle = pd.read_csv(r"D:\museumProject\clean_and_analyze\scientificProject\qgis\castle.csv", sep=';')
castle.count()

id      26
WKT     26
name    26
dtype: int64

In [79]:
castle = castle[['WKT', 'name']]
castle.index.name = 'id'
names = castle['name']
castle = castle[~names.isna()]
castle.to_csv(r'D:\museumProject\clean_and_analyze\scientificProject\qgis\castle.csv', sep=';')

In [39]:
museum = pd.read_csv(r'D:\museumProject\clean_and_analyze\scientificProject\qgis\museum.csv', sep=';')

,id,WKT,name
0,0,POINT (500830.797391137 5787526.44130426),Muzeum Etnograficzne
1,1,POINT (500189.097681374 5788213.57157374),Żydowski Instytut Historyczny
2,2,POINT (500581.62558866 5789014.87430336),Muzeum Marii Skłodowskiej-Curie
3,3,POINT (500777.519096203 5788841.55299175),Muzeum Warszawy
4,4,POINT (500845.576999823 5788869.63800154),Muzeum Literatury
...,...,...,...
85,110,POINT (500522.45195472 5787217.85450732),Centralny Przystanek Historia
86,111,POINT (499908.269652361 5786669.02133219),Mi Polin Mezuzah Center
87,112,POINT (502233.28934725 5789401.71580783),Muzeum Warszawskiej Metropolii Prawosławnej
88,113,POINT (501636.679906763 5785576.95158953),Cele Bezpieki
89,114,POINT (496637.799953257 5784712.56542154),Be Happy Museum

In [28]:
#
# random score and random coast of ticket
#
score = np.random.uniform(4.4, 4.8, size=museum.shape[0]).round(1)
ticket_coast = np.random.randint(20, 40, size=museum.shape[0]).round()

In [48]:
with open('description.txt','r', encoding='UTF-8') as file:
    description = [line.split(';')[1][:-1] for line in file]
len(description)
description.append('Historia i rozwój kolei miejskiej')

0     False
1     False
2     False
3     False
4     False
      ...
85    False
86    False
87    False
88    False
89    False
Name: name, Length: 90, dtype: bool

In [50]:
museum['score'] = score
museum['ticket_coast'] = ticket_coast
museum['description'] = description

In [55]:
# a >= 90, 50 < b < 90, c <= 50 
_90qnt = np.quantile(museum['score'], 0.9)
_50qnt = np.quantile(museum['score'], 0.5)
def get_rating(the_score):
    if the_score >= _90qnt:
        return 'A'
    elif the_score > _50qnt:
        return 'B'
    else:
        return 'C'

In [61]:
rating = museum['score'].apply(get_rating)
rating.name = 'rating'

In [74]:
ticket_coast_mean = museum['ticket_coast'].mean().round()
isAbove = museum['ticket_coast'] > ticket_coast_mean
museum['is above Average '] = isAbove

np.int64(40)

In [78]:
museum.to_csv(r'D:\museumProject\clean_and_analyze\scientificProject\qgis\museum.csv', sep=';', index=False)

In [119]:
district = pd.read_csv(r"D:\museumProject\clean_and_analyze\scientificProject\qgis\district.csv", sep=';', encoding='UTF-8')
district.index.name = 'id'
district = district[['WKT', 'name']]
amount = pd.read_csv(r"D:\museumProject\clean_and_analyze\scientificProject\qgis\temp.csv")
amount.set_index('district_id', inplace=True)
district['amount_of_museum'] = amount
district.to_csv(r"D:\museumProject\clean_and_analyze\scientificProject\qgis\district.csv", sep=';', index=True)